[terraform]
aws_access_key_id = {{ (index (lastpass "3670188679826316576") 0).note.key | trim }}
aws_secret_access_key = {{ (index (lastpass "3670188679826316576") 0).note.secret | trim }}

[kate_pie]
aws_access_key_id = {{ (index (lastpass "1791903563953109186") 0).note.key | trim }}
aws_secret_access_key = {{ (index (lastpass "1791903563953109186") 0).note.secret | trim }}