[mirs]
aws_access_key_id = {{ range (onepassword "gkfchyyimex3awdqtzaw6tvlym").details.sections }}{{ range .fields }}{{ if (eq .t "aws_access_key_id")}}{{- .v -}}{{ end }}{{ end }}{{ end }}
aws_secret_access_key = {{ range (onepassword "gkfchyyimex3awdqtzaw6tvlym").details.sections }}{{ range .fields }}{{ if (eq .t "aws_secret_access_key")}}{{- .v -}}{{ end }}{{ end }}{{ end }}

[default]
aws_access_key_id = {{ range (onepassword "hydebba6o66ujjkhnwwqd6t7si").details.sections }}{{ range .fields }}{{ if (eq .t "aws_access_key_id")}}{{- .v -}}{{ end }}{{ end }}{{ end }}
aws_secret_access_key = {{ range (onepassword "hydebba6o66ujjkhnwwqd6t7si").details.sections }}{{ range .fields }}{{ if (eq .t "aws_secret_access_key")}}{{- .v -}}{{ end }}{{ end }}{{ end }}

[terraform]
aws_access_key_id = {{ (index (lastpass "3670188679826316576") 0).note.key | trim }}
aws_secret_access_key = {{ (index (lastpass "3670188679826316576") 0).note.secret | trim }}

[kate_pie]
aws_access_key_id = {{ (index (lastpass "1791903563953109186") 0).note.key | trim }}
aws_secret_access_key = {{ (index (lastpass "1791903563953109186") 0).note.secret | trim }}