[terraform]
aws_access_key_id = {{ (index (lastpass "3670188679826316576") 0).note.key | trim }}
aws_secret_access_key = {{ (index (lastpass "3670188679826316576") 0).note.secret | trim }}

[kate_pie]
aws_access_key_id = {{ (index (lastpass "3239874869136573893") 0).note.key | trim }}
aws_secret_access_key = {{ (index (lastpass "3239874869136573893") 0).note.secret | trim }}

[kate_pie_admin]
aws_access_key_id = {{ (index (lastpass "861828730947787916") 0).note.key | trim }}
aws_secret_access_key = {{ (index (lastpass "861828730947787916") 0).note.secret | trim }}